<nav>
    <div>
        <a href="/"><h3>Muhammad Yahya Naeem</h3></a>
    </div>
    <div>
        <a href="/blogs">Blogs</a>
        <a href="/about">About</a>
        <a href="/blogs/create">New Blog</a>
    </div>
</nav>