<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body>
    <div class="container">
        <%- include('./partials/nav.ejs') %>
        <h1 style="float:lef;display: ;">About</h1>
        <p>Hi, I'm Yahya, currently studying at Fast University. I'm a front-end developer and currently learning Node.js.</p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>
